$cor-primaria: #001c30;
$cor-de-fundo: #efefef;
$cor-overlay: #97e4ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
  
    &-track {
      background: $cor-de-fundo;
    }
  
    &-thumb {
      background: $cor-overlay;
      border-radius: 10px;
    }
}

header.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 70px;

  .logo {
    width: 180px;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
  }

  .text-gs {
    margin-top: 55px;
    text-align: right;
    flex-grow: 1;
    padding-right: 20px;
    color: black;
    
    p {
      margin: 0;
    }
  }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
  
.login-form {
    background-color: white;
    padding: 50px;
    box-shadow: 0 0 5px black;
    width: 800px;
  
    label {
      display: block;
      margin-bottom: 9px;
    }
  
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      margin-top: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    button {
      width: 13%;
      padding: 10px;
      margin-left: 605px;
      margin-top: 15px;
      background-color: white;
      border: 1px solid black;
      color: black;
      cursor: pointer;
  
      &:hover {
        background-color: darken($cor-overlay, 10%);
        border: none;
      }
    }
}

.container-imgs {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 3em;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }

  .grid-item {
    figure {
      margin-right: 10px;
    }

    h1 {
      margin: 10px;
    }

    h5 {
      margin: 5px 0;
    }

    p {
      margin: 5px 0;
    }
  }
}

.container-inicio {
  margin-top: 5rem;
  margin: 20px;

  @media (max-width: 768px) {
    margin: 10px;
  }

  .row-inicio {
    display: flex;
    flex-wrap: wrap;

    > :first-child {
      flex: 1;
      display: flex;
      flex-direction: column;

      .main-img-fluid {
        width: 100%;
        height: auto;
      }

      .row-inicio {
        display: flex;
        flex-wrap: wrap;

        .custom-title-col {
          flex: 1;
          margin-top: 2rem;

          @media (max-width: 768px) {
            flex: 100%;
          }
        }

        .custom-text-col {
          flex: 2;
          margin-top: 2rem;
          display: flex;
          flex-direction: column;

          p {
            border-left: 1px solid black;
            padding-left: 20px;
          }

          .custom-btn {
            align-self: flex-end;
            margin-top: auto;
            background-color: #fff;
            border: 1px solid black;
            padding: 8px;

            @media (max-width: 768px) {
              align-self: flex-start; 
              margin-top: 1rem; 
            }
          }
        }
      }
    }

    > :last-child {
      flex: 1;
      padding-left: 2rem;

      h2 {
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1rem;
      }

      @media (max-width: 768px) {
        flex: 100%;
        padding-left: 0;
      }
    }
  }
}